<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Troy</title>
  <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    let toggle = 0;
    const boxes = document.querySelectorAll('.box');
    const colors = ['#f94144', '#f8961e', '#f9c74f', '#90be6d'];

    boxes.forEach((box, i) => {
      box.style.backgroundColor = colors[i];
    });
    $(document).ready(function () {
      $("#sidebarCollapse").click(function () {
        if (!toggle) {
          document.getElementById("sidebar").style.marginLeft = "-270px";
          toggle = 1;
        }
        else {
          document.getElementById("sidebar").style.marginLeft = "0px";
          toggle = 0;
        }
      });
    });
  </script>
</head>

<body>
  <header>
    <div class="logo-container">
      <img src="/static/logo.png" alt="Logo" class="logo" />
      <h1 class="website-name">
        <span class="website-name-main ">Project Management Co-Pilot</span><br />
        <span class="website-name-secondary">Powered by AI</span>
      </h1>
    </div>
    <nav class="top-nav">
      <button class="btn btn-outline-primary rounded side-button">Option 1</button>
    </nav>
  </header>

  <div class="main-container">
    <aside class="side-panel" id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div>
        <a href="{{ url_for('index') }}" class="nav-button"><i class="bi bi-house-fill"></i>Home</a>
        <a href="{{ url_for('analyse') }}" class="nav-button"><i class="bi bi-speedometer"></i>Analyse</a>
        <a href="{{ url_for('translate') }}" class="nav-button"><i class="bi bi-globe"></i>Translate</a>
        <a href="{{ url_for('email') }}" class="nav-button"><i class="bi bi-envelope-plus-fill"></i>Create Email</a>
      </div>
    </aside>
    <main class="main-panel text-center">
      <h2 class="title">AI-Powered Personal Document Tool</h2>
      <p>
        Welcome to the Co-Pilot, an AI-powered tool designed
        to help you with everyday tasks. The tool uses natural
        language processing and machine learning algorithms to take in large
        documents in PDF, Word, or text format and allows users to interrogate
        and chat with the documents to get simple, meaningful responses.
      </p>

      <h3 class="title">Key Features</h3>
      <div class="box-container row text-start">
        <div class="box col-12 col-lg-5 col-xl-3">
          <div>
            <div class="d-inline align-items-center">
              <i class="bi bi-cpu-fill" style="font-size: 3rem; color: cornflowerblue;"></i>
              <h4>
                Natural Language Processing
              </h4>
            </div>

            <p>Our tool uses NLP to help users easily interact with large documents.</p>
          </div>
        </div>
        <div class="box col-12 col-lg-5 col-xl-3">
          <div>
            <div class="d-inline align-items-center">
              <i class="bi bi-wrench-adjustable" style="font-size: 3rem; color: cornflowerblue;"></i>
              <h4>Machine Learning</h4>
            </div>

            <p>We use machine learning algorithms to analyze and understand the content of your documents, so you can
              quickly find the information you need.</p>
          </div>
        </div>
        <div class="box col-12 col-lg-5 col-xl-3">
          <div>
            <div class="d-inline align-items-center">
              <i class="bi bi-wechat" style="font-size: 3rem; color: cornflowerblue;"></i>
              <h4>Chat-Based Interface</h4>
            </div>
            <p>Our tool features a chat-based interface, making it easy to ask questions and get answers.</p>
          </div>
        </div>
        <div class="box col-12 col-lg-5 col-xl-3">
          <div>
            <div class="d-inline align-items-center">
              <i class="bi bi-headset" style="font-size: 3rem; color: cornflowerblue;"></i>
              <h4>Multiple File Formats Supported</h4>
            </div>
            <p>Our tool supports multiple file formats, including PDF, Word, and text files, so you can easily import
              your documents.</p>
          </div>
        </div>
      </div>
      <h3 class="title">How It Works</h3>
      <p>
        The Document Co-Pilot is easy to use. Simply upload your
        document, and our tool will analyze the content and make it available
        for you to interact with. You can ask questions, search for specific
        information, and get quick answers to your queries. Our chat-based
        interface makes it easy to communicate with the tool and get the
        information you need.
      </p>

      <h3 class="title">Get Started Today</h3>
      <p>
        Ready? Try the Co-Pilot today and see how it can help you work more efficiently and effectively.
      </p>
    </main>
  </div>
   
  <footer>
    <p>&copy; 2023 Demo Site for personal use. All rights reserved.</p>
  </footer>
</body>

</html>